body {
    background-color: rgb(248, 244, 238);
    font-family: 'Crimson Pro', serif;

}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

nav {
    grid-area: nav;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 10px;
    border: solid 2px black;
}

nav ul li a {
    text-decoration: none;
    margin: 2em;
    background-color: #857ea5;
    color: black;
    padding: 1px 20px 1px 20px;
    border-radius: 5px;
    font-size: 25px;
}

.active {
    background-color: #e07923;
}

.mi_borde {
    border: solid 1px black;
}

main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    margin-top: 5px;
}

#cotizador {
    width: 300px;
    display: grid;
    grid-template-columns: 150px 150px;
    gap: 2px;
    margin-bottom: 20px;
    /* justify-self: end; */

}

#labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}


input {
    width: 140px;
    margin: 5px;
}

p {
    margin-bottom: 10px;
}

#descripcion {
    width: 350px;
    margin: 5px;
}

textarea {
    width: 300px;
}

button {
    margin: 15px 0px;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}