body {
    background-color: rgb(248, 244, 238);
    font-family: 'Crimson Pro', serif;

}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

nav {
    grid-area: nav;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 10px;
    border: solid 2px black;
}

nav ul li a {
    text-decoration: none;
    margin: 2em;
    background-color: #857ea5;
    color: black;
    padding: 1px 20px 1px 20px;
    border-radius: 5px;
    font-size: 25px;
}
.active {
    background-color: #e07923;
}

.mi_borde {
    border: solid 1px black;
}

main #sec-cotiza h3 {
    text-align: center;
    margin-bottom: 40px;
}

main #sec-cotiza #art-cotiza {
    text-align: center;

}

main form .form-cotiza {
    display: list-item;
    justify-content: center;
    margin-bottom: 20px;

}

#boton-enviar {
    padding: 10px;
    margin-bottom: 110px;
}
footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}