body {
    background-color: rgb(248, 244, 238);
    font-family: 'Crimson Pro', serif;
    display: grid;
    grid-template-areas: "header"
        "nav"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 5% 1fr 5%;
    gap: 8px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: header;
}

nav {
    grid-area: nav;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 10px;
    border: solid 2px black;
}

nav ul li a {
    text-decoration: none;
    margin: 2em;
    background-color: #857ea5;
    color: black;
    padding: 1px 20px 1px 20px;
    border-radius: 5px;
    font-size: 25px;
}

.active {
    background-color: #e07923;
}

.mi_borde {
    border: solid 1px black;
}

main {
    grid-area: main;
}

main #sec-quien-soy {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main #sec-quien-soy article {
    border: solid 1px;
}

main #sec-quien-soy #foto-quien {
    text-align: center;
}

main #sec-quien-soy #art-quien div hr {
    margin: auto;
    width: 40%;
    float: left;
}

main #sec-quien-soy #foto-quien h3 {
    /* margin: auto; */
    display: flex;
    margin: 50px;

}

main #sec-quien-soy #art-quien p {
    text-align: justify;
    display: flex;
    margin: 20px;
}

main #a-que-me-dedico h3 {
    margin-bottom: 3px;
}

main #a-que-me-dedico hr {
    width: 15%;
    margin: auto;
}

main #a-que-me-dedico {
    background-color: #7fa7dc;
    color: white;
    text-align: center;
    padding: 10px;
    border: solid black;
}

main section #a-que-me-dedico {
    display: flex;
    width: 150px;
    height: 250px;
    display: grid;
    grid-template-areas: "item1"
        "item2"
        "item3";
    grid-column-start: 3;
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 1fr 1fr 1fr; */
    gap: 20px;
}

main #servicios {
    border: solid 1px;
    padding: 1%;
}

main #servicios .serv_cont_titulo {
    display: flex;
    justify-content: center;
}

main #servicios .serv_cont_cuadros {
    display: flex;
    justify-content: space-around;
}

main #servicios .serv_cont_cuadros article {
    width: 30%;
    margin: 2%;
    border: solid 3px #7fa7dc;
    padding: 1%;
    color: white;
    background-color: #ee9d1f;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

main #servicios .serv_cont_cuadros article h4 {
    margin: auto;
    text-align: center;
}


main #servicios .serv_cont_cuadros article .boton_ver {
    background-color: white;
    color: #e07923;
    padding: 4px;
    text-decoration: none;
    text-align: center;
    width: 30%;
    align-self: center;
}

main #servicios .serv_cont_cuadros article .boton_ver:hover {
    box-shadow: 2px 2px 2px 1px black;
}

main #herramientas {
    background-color: #7fa7dc;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1% 1% 5% 1%;
}

main #herramientas h3 {
    text-align: center;
    color: white
}

main #herramientas #tbl_herramientas {
    width: 60%;
    align-self: center;
}

main #herramientas #tbl_herramientas tr td,
th {
    border: solid 1px;
}

main #herramientas #tbl_herramientas tr td #herrmt_img_photoshop {
    width: 40%;
}

main #herramientas #tbl_herramientas tr td #herrmt_img_corel {
    width: 50%;
}

main #herramientas #tbl_herramientas tr td #herrmt_img_ilustrator {
    margin: 50px 15px 50px 15px;

}

footer {
    grid-area: footer;
    text-align: center;
    margin-bottom: 10px;
}